@import url("variables.css");

/* * {
  outline: 1px solid red;
} */

/* Foundation Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-sans);
  font-size: 0.875rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header__container {
  max-width: 1600px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: var(--color-accent-1);
}

header img {
  height: 90px;
}

.header__nav {
  display: flex;
  flex-direction: row;
}

.header__nav img {
  max-height: 25px;
}

.header__nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__search {
  padding: 20px 20px 20px 0;
}

.header__menu {
  padding: 20px 20px 20px 0;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
}

.header__nav a:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  background-color: var(--color-medium);
  color: var(--color-accent-1);
}

.footer__container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

.footer__logosymbol {
  max-width: 1200px;
}

.footer__logosymbol img {
  width: 70px;
}

.footer__nav a {
  color: inherit;
  text-decoration: none;
  line-height: 2.1;
}

.footer__copyright {
  text-align: center;
  padding-bottom: 30px;
}
